html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Cabin", Arial, Geneva, sans-serif;
  background-image: url(../../images/clouds.png);
  margin: 0px;
  padding: 0px; }

.wrapper {
  margin: 0 auto; }

h1, h2, h3 {
  font-family: 'Niconne', cursive;
  font-weight: normal;
  color: #C80060;
  margin-top: 0; }

article img {
  border-radius: 10px;
  width: 100%;
  max-width: 250px; }

img.responsive {
  width: 100%;
  max-width: 250px; }

@media (min-width: 550px) {
  .wrapper {
    width: 97%;
    max-width: 767px; } }

@media (min-width: 850px) {
  .wrapper {
    width: 97%;
    max-width: 1200px;
    float: none; } }
