button, .button {
  margin-bottom: 2em;
  background-color: #c80060;
  color: #fff;
  font-size: 1.5em;
  border-radius: 30px;
  text-decoration: none;
  font-family: 'Niconne', cursive;
  padding: 0.2em 0.5em;
  cursor: pointer; }

.article-container {
  display: flex;
  flex-direction: column; }
  .article-container .flex-grow-one {
    flex-grow: 1; }

button:hover, .button:hover {
  background-color: #ad0054; }
