nav ul {
  list-style-type: none;
  background-color: #e6bf98;
  padding: .75em;
  margin: 0;
  border-bottom: 3px solid #cc8850;
  overflow: auto; }

nav li:nth-child(even) {
  width: 50%;
  float: right;
  padding: 0.5em; }

nav li:nth-child(odd) {
  width: 50%;
  float: left;
  padding: 0.5em; }

nav a {
  color: #c80060;
  text-decoration: none;
  display: block;
  padding-left: 3.333333%; }

nav a:hover {
  color: #00c4c7; }

@media (min-width: 550px) {
  .heading {
    background: url(../../images/header-850.jpg) no-repeat;
    height: 130px; } }

@media (min-width: 850px) {
  nav li,
  nav li:nth-child(even),
  nav li:nth-child(odd) {
    display: inline-block;
    width: auto;
    float: none;
    padding: 0; }
  nav a {
    padding: 0em 1em; }
  .heading {
    background: url(../../images/header-1200.jpg) no-repeat;
    height: 130px; } }
