html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: "Cabin", Arial, Geneva, sans-serif;
	background-image: url(../../images/clouds.png);
	margin: 0px;
	padding: 0px;
}
.wrapper {
	margin: 0 auto;
}

@media (min-width: 550px) {
	.wrapper {
		width: 97%;
		max-width: 767px;
	}
}

@media (min-width: 850px) {
	.wrapper {
		width: 97%;
		max-width: 1200px;
		float: none;
	}
}
